input{
    width:100%;
    padding:10px;
    border-radius: 1px;
    border: 1px solid black;
}
select,option{
    width:80%;
    padding:9px;
    border-radius: 1px;
    border:1px solid black
}
.inputbox{
    display: inline;

}
